# Ignorer les fichiers node_modules
node_modules/

# Ignorer les fichiers de build
/dist
/build

# Ignorer les fichiers temporaires de TypeScript
*.tsbuildinfo

# Ignorer les fichiers de dépendances de pnpm
.pnpm/

# Ignorer les fichiers de configuration IDE
.vscode/
.idea/